@mixin btn($bg, $color: $white) {
  display: inline-block;
  padding: 0.5em 1.25em;
  margin: 0;
  border: none;
  border-radius: 4px;
  box-shadow: 0 -1px 1px rgba(255,255,255,.125);
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
  background: $bg;
  color: $color;
  font-size: 0.875em;

  &:visited {
    background: $bg;
    color: $color;
  }

  &:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    background: lighten($bg, 5%);
    color: $color;
  }

  &:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background: darken($bg, 5%);
    color: $color;
  }

  &:focus {
    color: $color;
  }

  &.large {
    padding: 0.65em 1.25em;
    font-size: 1em;
  }

  &.x-large {
    font-size: 1.25em;
  }

  &.small {
    padding: 0.65em 1.25em;
    font-size: 0.75em;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    @include opacity(0.5);
  }

  i[data-icon] {
    position: relative;
    top: 2px;
  }

  &.icon-left {
    [data-icon] {
      margin-right: 0.5em;
    }
  }

  &.icon-right {
    [data-icon] {
      margin-left: 0.5em;
    }
  }

  @content;
}
