// Colors
$white:      #fffefc;
$yellow:     #ffcf40;
$black:      #262624;
$dark-grey:  #595855;
$grey:       #807e79;
$light-grey: #d9d6ce;
$red:        #f24c3d;
$green:      #36d97a;
$blue:       #3695d9;
