// Basic Elements
body {
  @include ie-width;
  font-family: $typeface-sans;
  text-shadow: 1px 1px 1px transparent;
}

a {
  @include transition(all 0.2s ease-in-out);
}

p, a, h1, h2, h3, h4, h5, label {
  font-family: inherit;
}

h1 {
  padding: 1em 0 0.5em 0;
  font-size: 1.5em;
  line-height: 1;
  color: $light-grey;

}

h2 {}

h3 {
  font-size: 0.75em;
}

h4 {
  font-size: 1.25em;
  line-height: 1.25em;
}

h5 {}

h6 {
  font-size: 1.25em;
}

p {}

hr {}
