// Basic Elements
body {
  @include ie-width;
  padding-bottom: 3em;
  font-family: $typeface-sans;
  text-shadow: 1px 1px 1px transparent;
}

a {
  @include transition(all 0.2s ease-in-out);
}

p, a, h1, h2, h3, h4, h5, label {
  font-family: inherit;
}

h1 {
  margin: 0.5em auto;
  font-size: 2em;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.03125em;

}

h2 {
  margin: 1em auto 0.5em;
  color: $light-grey;
  font-size: 1.5em;
  line-height: 1em;
  text-transform: uppercase;
}

h3 {}

h4 {}

h5 {}

h6 {
  font-size: 1.25em;
}

p {
  font-size: 1.125em;
}

hr {}
