.s-contact {
  margin: 1em auto;

  .contact-icons {
    @include unstyled-list;
    margin: 0 auto;
    color: $dark-grey;
    font-size: 2.5em;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 0.25em;
    }

    a:hover {
      color: $yellow;
    }

    a:active {
      color: darken($yellow, 5%);
    }

  } // .contact-icons

} // .s-contact
