.s-details {

  h1 {
    text-align: center;
    text-transform: uppercase;
  }

  p {
    color: $dark-grey;
  }

  @include media-ie($breakpoint-ipad) {

    h1 {
      font-size: 2em;
    }

    p {
      font-size: 1.25em;
    }

  }

  @include media-ie($breakpoint-desktop) {

    .details-column {
      @include span-columns(6);
    }

  } // @include media-ie($breakpoint-desktop)

} // .s-details
