.s-intro {
  padding: 2em 0;
  border-top: 0.125em solid $yellow;
  border-bottom: 0.5em solid $yellow;
  background: $light-grey image-url("flash.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  color: $black;
  text-align: center;

  .intro-logo img {
    width: 75%;
  }

  .intro-callout {
    max-width: 32em;
    margin: 1em auto;

    h1 {
      display: none;
    }

  } // .intro-callout

  .intro-signup {

    input[type="email"] {
      display: inline-block;
      max-width: 20em;
      margin-right: 0.75em;
      margin-bottom: 0.5em;
      font-size: 1.25em;
    }

    [class*="btn"] {
      margin-bottom: 0.5em;
      font-size: 1.25em;
    }

  } // .intro-signup

  .intro-social {
    @include unstyled-list;
    margin: 0 auto;
    font-size: 2.5em;
    color: $yellow;

    li {
      display: inline-block;
      margin: 0 0.25em;
      text-shadow: 0 1px 1px rgba(0,0,0,0.25);
    }

    a:hover {
      color: lighten($yellow, 5%);
    }

    a:active {
      color: darken($yellow, 5%);
    }

  } // .intro-social

  @include media-ie($breakpoint-ipad) {

    .intro-logo img {
      width: 50%;
    }

    .intro-callout h1 {
      display: block;
    }

  } // @include media-ie($breakpoint-ipad)

} // .s-intro
