.s-intro {
  position: relative;
  padding: 2em 0;
  border-top: 0.125em solid $yellow;
  border-bottom: 0.5em solid $yellow;
  background: $black image-url("flash.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  color: $white;
  text-align: center;

  @include media-ie {
    overflow-y: hidden;
    background: $black;
    > * { position: relative; }
  }

  .ie-bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;

    img {
      width: 150%;
      margin-left: -25%;
    }

  } // .ie-bg

  .intro-logo{
    width: 75%;
    max-width: 25em;
    margin: 0 auto;

    img {
      width: 100%;
    }

  } // .intro-logo

  .intro-callout {
    max-width: 50em;
    padding: 0.5em 1em;
    margin: 2em auto;
    border-radius: 4px;
    background: #262624;
    background: rgba(#262624, 0.75);

    h1 {
      color: $yellow;
      font-size: 1em;
      line-height: 1.25;
    }

    h3 {
      margin-bottom: 0.5em;
    }

  } // .intro-callout

  .intro-signup {

    .intro-signup-input {
      display: inline-block;
      max-width: 15em;
      margin-right: 0.75em;
      margin-bottom: 0.5em;
      font-size: 1.25em;
    }

    [class*="btn"] {
      margin-bottom: 0.5em;
      font-size: 1.25em;
    }

  } // .intro-signup

  @include media-ie($breakpoint-ipad) {

    .intro-callout {
      padding: 1em 2em;

      h1 {
        font-size: 1.5em;
      }

      h3 {
        font-size: 1em;
      }

      p {
        font-size: 1.25em;
      }

    } // .intro-callout

  } // @include media-ie(breakpoint-ipad)

} // .s-intro
