extends ../layout

block content
  section#intro.s-intro(data-resize="1100")
    .l-constrained
      .intro-logo
        img(src=assets.url('/images/logo.png'))
      .intro-callout
        h1 Celebrities Are Closer Than You Think
        p Stargrin is a way for people to have celebrities, viral video stars, twitter personalities and any other person someone deems a “star” grant their wishes. Sign up now for exclusive information and to be the first to know when we launch.
