extends ../layout

block content
  section#intro.s-intro(data-resize="1100")
    //if lte IE 8
      .ie-bg: img(src=assets.url('/images/flash.jpg'))
    .l-constrained
      .intro-logo
        img(src=assets.url('/images/logo.png'))

      .intro-callout
        h1 Stargrin is the new way for fans to easily connect with their favorite “starlebrities” for unforgettable experiences.
        ul
          li Have you ever wished you could Skype with your favorite Youtube star?
          li What about getting that hilarious Twitter personality to tweet directly to your boyfriend?
          li How incredible would it be to have your favorite local band write a birthday song for you?
          li What other experiences would you like to have with those “celebrities” you find yourself enjoying and adoring?

        h3 Sign up now for exclusive information and be the first to know when we launch.

        form#signup-form.m-form.intro-signup(ng:controller="SignupCtrl", ng:submit="submit($event, '/signup', '#{process.env.MAILCHIMP_LIST || ''}')", name="form", novalidate)
          div(ng:hide="complete")
            input.intro-signup-input(type="email", name="email", ng:model="user.email", ng:keydown="clearErrors()", ng:change="clearErrors()", required, placeholder="Email address")
            button.btn(type="submit", ng:disabled="processing") Submit
          #signup-form-error.form-error(ng:if="(form.email.$error || responseError) && attempted")
            div(ng:if="form.email.$error.email") Invalid email address. Please double-check your entry and try again.
            div(ng:if="form.email.$error.required") Email address is required.
            div(ng:if="responseError") {{ responseError }}
          #signup-form-success.form-success(ng:if="complete") Almost done! Check your inbox for instructions on confirming your email address.
          #signup-form-suggestion.form-suggestion(mailcheck="user.email", ng:if="user.email")

      .intro-blog
        h4: a(href="http://blog.stargrin.com/") In the meantime, follow our blog &rarr;

  section#details.s-details
    .l-constrained
      article.details-column
        h1 For Fans
        p Stargrin is a safe, secure marketplace that allows fans to pay for experiences that would be extremely difficult, expensive and in some cases impossible to attain otherwise.  We maintain the quality of the celebrity responses through internal checks and a feedback based user community.
      article.details-column.ie-omega
        h1 For Starlebrities
        p Stargrin allows you to offer your fans unique experiences.  It is a new way to listen to what your fans want and connect with them on a personal level… and making you a few extra bucks doesn’t hurt either!  We take care of the details, you just deliver what your fans want.

   section#contact.s-contact
    .l-constrained
      ul.contact-icons
        li
          a(href="https://twitter.com/star_grin", target="_blank")
            +icon("000")
        li
          a(href="https://www.facebook.com/pages/Stargrin/710438785636136", target="_blank")
            +icon("001")
        li
          a(href="https://plus.google.com/110617754243749490289", target="_blank", rel="publisher")
            +icon("004")
        li
          a(href="http://blog.stargrin.com/", target="_blank")
            +icon("002")
        li
          a(href="mailto:info@stargrin.com")
            +icon("003")
